<div id="container">
    <div id="wrapper">
        <h1>Yahoo! News</h1>
        <h2><i>Tell us what you think!</i></h2>
        <div id="quotes"></div>
        <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>
</div>